*{
    margin:0;
    padding: 0;
    }
    .caja{
        border: 1px solid;
        border-color: green;
        border-radius: 20px;
        width: 50%;
        box-shadow: 0 0 30px rgb(149, 241, 149);
        margin: 20px auto;
        padding: 10px;
    }
    h1{
        text-align: center;
        color: #33BBFF;
    }
    p{
        text-align: justify;
    }
    .boton{
        display: inline-block;
        background-color: rgb(82, 243, 82);
        border-radius: 15px;
        text-decoration: none;
        padding: 5px;
        margin: 15px 10px;
        text-transform: uppercase;
    transition-property: background-color,color;
        transition-duration: 2000ms;/*s=segundos=1000ms*/;
    
    }
    .boton:hover{
        background-color: azure;
        color: #33BBFF;
    }